name: my-first-workflow
# To get a tigger on very push in this repo
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Running Single Command in Job1
        run: echo "Hi this is my first Github workflow"
      - name: Checking Os Release for github Hosted Runner
        run: cat /etc/os-release
      - name: Calling Sleep
        run: sleep 20

  job2:
    name: JOB2
    runs-on: ubuntu-latest
    steps:
      - name: Cheking the Hostname for runner
        run: hostname
      - name: Running multiple commands
        run:  |
          echo "Hi from carlos abanto"
          echo "Current time is `date`"
          sleep 2

  job3:
    name: JOB3
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Job with Single Dependency
        run: sleep 10

  job4:
    name: JOB4
    needs: [job1, job2, job3]
    runs-on: ubuntu-latest
    steps:
      - name: Job for multiple dependencies
        run: sleep 10
