name: my-first-workflow
on:
  push:
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step-1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Checkout
        uses: actions/checkout@v4
      - name: Step-3
        run: |
          echo `pwd` >> myartifact.txt
          mkdir artifacts
          ls -ltr > artifacts/list.txt
          hostname > artifacts/hostname.txt
      - name: Upload Single file
        uses: actions/upload-artifact@v5.0.0
        with:
          name: single_file
          path: ./myartifact.txt

      - name: Upload Directory
        uses: actions/upload-artifact@v5.0.0
        with:
          name: directory_artifacts
          path: artifacts/
      - name: Upload from multiple paths
        uses: actions/upload-artifact@v5.0.0
        with:
          name: multiple_paths
          path: |
            ./myartifact.txt
            artifacts/
      - name: Upload from multiple paths with exclusions
        uses: actions/upload-artifact@v5.0.0
        with:
          name: multiple_paths_with_exclusions
          path: |
            ./myartifact.txt
            artifacts/
            !**/hostname.txt
  job2:
    name: JOB2
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: Download single file artifact
        uses: actions/download-artifact@v5.0.0
        with:
          name: single_file
      - name: cheking current directory post download
        run: |
          pwd
          ls -ltr
  job3:
    name: JOB3
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: Download directory
        uses: actions/download-artifact@v5.0.0
        with:
          name: directory_artifacts
      - name: cheking current directory post download
        run: |
          pwd
          ls -ltr
  job4:
    name: JOB4
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Create custom folder for download
        run: |
          mkdir -p single_file
          mkdir -p download_directory
      - name: checking current directory
        run: |
          pwd
          ls -ltr
      - name: Download single file artifact
        uses: actions/download-artifact@v5.0.0
        with:
          name: single_file
          path: single_file
      - name: Download directory
        uses: actions/download-artifact@v5.0.0
        with:
          name: directory_artifacts
          path: download_directory
      - name: cheking current directory post download
        run: |
          echo "CHEKING SINGLE FILE DIRECTORY"
          pwd
          ls -ltr single_file
          echo "CHEKING DIRECTORY ARTIFACTS"
          ls -ltr download_directory
