name: my-first-workflow
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
env:
  ENV_TYPE: DEV
  APP_USER: thinknyx
  APP_PORT: 80

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step-1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Checkout
        uses: actions/checkout@v4
      - name: Step-3
        run: |
          echo `pwd` >> myartifact.txt
          mkdir artifacts
          ls -ltr > artifacts/list.txt
          hostname > artifacts/hostname.txt
      - name: Upload Single file
        uses: actions/upload-artifact@v5.0.0
        with:
          name: single_file
          path: ./myartifact.txt

  job2:
    name: JOB2
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Download single file artifact
        uses: actions/download-artifact@v5.0.0
        with:
          name: single_file
      - name: Referring Environment Variables
        run: |
          echo "[INFO] Running Deployment for $ENV_TYPE with user $APP_USER."
          echo "[INFO] Once deployment application is accessible on por $APP_PORT."
      - name: Refferring Repository Secret
        run: |
          echo "[INFO] Aplication password is ${{ secrets.APP_PASSWORD }}"

  job3:
    name: JOB3
    runs-on: ubuntu-latest
    steps:
      - name: Refferring context or in-build variables
        run: |
          echo "[INFO] Triggered by ${{ github.event_name }}."
          echo "[INFO] New changes are added by ${{ github.actor }} in ${{ github.ref_name }} branch."
          echo "[INFO] Current Step in running on ${{ runner.os }}"
          echo "[INFO] current JOB ID is ${{job.check_run_id}}."
  staging:
    name: STAGE DEPLOYMENT
    runs-on: ubuntu-latest
    steps:
      - name: Referring Environment Variables
        run: echo "[INFO] Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}."
      - name: Referring Environment Secrets
        run: echo "[INFO] Password for ${{ vars.USER }} is ${{ secrets.PASSWORD }}."
    environment:
      name: STAGING
  production:
    name: PRODUCTION DEPLOYMENT
    runs-on: ubuntu-latest
    steps:
      - name: Referring Environment Variables
        run: echo "[INFO] Running deployment on ${{ vars.HOST }} using ${{ vars.USER }}."
      - name: Referring Environment Secrets
        run: echo "[INFO] Password for ${{ vars.USER }} is ${{ secrets.PASSWORD }}."
    environment:
      name: PRODUCTION
