name: my-first-workflow
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - main
env:
  ENV_TYPE: DEV
  APP_USER: thinknyx
  APP_PORT: 80
  
jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps:
      - name: Step-1
        run: |
          pwd
          ls -ltr
          hostname
      - name: Checkout
        uses: actions/checkout@v4
      - name: Step-3
        run: |
          echo `pwd` >> myartifact.txt
          mkdir artifacts
          ls -ltr > artifacts/list.txt
          hostname > artifacts/hostname.txt
      - name: Upload Single file
        uses: actions/upload-artifact@v5.0.0
        with:
          name: single_file
          path: ./myartifact.txt

  job2:
    name: JOB2
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Download single file artifact
        uses: actions/download-artifact@v5.0.0
        with:
          name: single_file
      - name: Referring Environment Variables
        run: |
          echo "[INFO] Running Deployment for $ENV_TYPE with user $APP_USER."
          echo "[INFO] Once deployment application is accessible on por $APP_PORT."
        
        
